$primary: #ffd829;
$secondary: #8ad8f4;
$tertiary: #8cce78;
$notes: #ffd829;
$twitters: #8ad8f4;
$articles: #8cce78;
$grey100: #f5f5f5;
$grey200: #e6e6e6;
$grey300: #b3b3b3;
$grey400: #818181;
$grey700: #616161;
$grey800: #424242;
$red: #dc3545;
$white: #ffffff;
$black: #000000;
$fontLight: 300;
$fontRegular: 500;
$fontBold: 600;
$fontFamily: "Montserrat", sans-serif;
$fontSizeXXS: 1rem;
$fontSizeXS: 1.2rem;
$fontSizeS: 1.6rem;
$fontSizeM: 2rem;
$fontSizeL: 2.4rem;
$fontSizeXL: 4rem;
$sidebarWidthSize: 15rem;
$sidebarHeightSize: 10rem;
